# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
flask
pymupdf
azure-ai-documentintelligence
azure-identity
azure-storage-blob
